# Introduction to Machine Learning

- Use [this CheatSheet](https://www.craft.do/s/bj8CiGxswdNZl3/b/2CC9B9A0-7484-45FD-9097-52ED788D4925/The-Machine-Learning-System) to work better with the following exercises.

## Load the data

In [1]:
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

Load one of the datasets from the previous list

In [5]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Select the variables for the model

**Both variables must be continuous**

1. y: the variable you want to predict
2. X: the variable you will use to calculate the prediction y

## The Linear Regression ML Model

### Fit the model with the data

### Predictions

#### Calculate the predictions

### Model evaluation

#### Calculate the model's score

## The K Nearest Neighbours ML Model

### Fit the model with the data

### Predictions

#### Calculate the predictions

### Model evaluation

#### Calculate the model's score

## The Random Forest ML Model

### Fit the model with the data

### Predictions

#### Calculate the predictions

### Model evaluation

#### Calculate the model's score