# Analyze Categories of the Data with Groupby

- Use [this CheatSheet](https://www.craft.do/s/G80r1dqrQKrjTb/b/6FC991B6-1161-4F88-A315-3E84528A1950/groupby()-Categorical-Columns-to-Sum) to work better with the following exercises.

## 1 Categorical & 1 Numerical

### Tips Dataset

In which `day` do people spend more `money` in the restaurant?

- Every row represents a table in the restaurant
- Every column represents characteristics of the tables

In [ ]:
import seaborn as sns

df_tips = sns.load_dataset('tips')
df_tips

#### Data Manipulation

#### Plot

### Titanic Dataset

Who was `older`: people who `survived`, or those who didn't?
- Every row represents a person in the titanic
- Every column represts characteristics of the people

In [ ]:
df_titanic = sns.load_dataset('titanic')
df_titanic

#### Data Manipulation

#### Plot

## 2 Categorical & 1 Numerical

### Tips Dataset

When do people spend more `money` in the restaurant based on the `day` and the `time`?

In [ ]:
df_tips #!

#### Data Manipulation

#### Plot

### Titanic Dataset

Were `females` who survived `older` than males who `survived`?

In [ ]:
df_titanic #!

#### Data Manipulation

#### Plot

## 3 Categorical & 1 Numerical

### Tips Dataset

When do people give more `tip` in the restaurant based on the `day`, `time` and `sex`?

In [ ]:
df_tips #!

#### Data Manipulation

#### Plot

### Titanic Dataset

Were `females` who survived in first `class` `older` than males who `survived`?

In [ ]:
df_titanic #!

#### Data Manipulation

#### Plot

## 1 Categorical

This time, you need to count the `size()` based on the repetitions of each group within the column.

If you get lost, Google: "pandas dataframe count values in column"

### Tips Dataset

In which day of the week had the restaurant more tables occupied?

In [ ]:
df_tips #!

#### Data Manipulation

#### Plot

### Titanic Dataset

How many people did survive the Titanic?

In [ ]:
df_titanic

#### Data Manipulation

#### Plot